# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/

# Environment variables
.env.local
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# npm
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
